<div class="jumbotron">
    <h1>Add Cashier</h1>
    <hr>
    <form [formGroup]="cashierForm" (ngSubmit)="onSubmit()">
   
      <div class="form-row">
        <div class="form-group col-md-6">
              <label for="uname">User Name</label>
              <input formControlName="username" type="text" class="form-control" id="uname" placeholder="user name">
        </div>
        <div class="form-group col-md-6">
            <label for="Password">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" maxlength="10" minlength="10">
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
        <label for="exampleFormControlSelect1">Account Type</label>
        <select formControlName="type" class="form-control" id="exampleFormControlSelect1">
          <option>admin</option>
          <option>user</option>
        </select>
      </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12">
      <label for="mobile">Mobile</label>
      <input formControlName="mobile" type="number" class="form-control" id="mobile" placeholder="mobile" maxlength="10" minlength="10">
  </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputAddress">Address</label>
        <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group col-md-6">
        <label for="age">Age</label>
        <input formControlName="age" type="number" class="form-control" id="age" placeholder="Greater than 18">
    </div>
</div>
<hr>
<button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>